body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb { 
  font-size: smaller;
}





/* Shared Card Styles */
.card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  margin: 10px;
  width: 250px;
  display: inline-block;
  vertical-align: top;
}

.card-mid {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  margin: 10px;
  width: 350px;
  display: inline-block;
  vertical-align: top;
}


.card-wide {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  margin: 10px;
  width: 600px;
  display: inline-block;
  vertical-align: top;
}


.card-double-wide {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  margin: 10px;
  width: 1000px;
  display: inline-block;
  vertical-align: top;
}

.card-image {
  width: 100%;
  padding-top: 100%; /* Maintains a square aspect ratio */
  background-size: cover;
  background-position: center;
  position: relative; /* Necessary for the padding-top trick to work */
}

.card-content {
  padding: 20px;
  overflow-y: auto;
  text-align: center;
}

/* Scrollable Card Deck Styles */
.card-scroll-container {
  overflow-x: auto;
  padding: 20px;
  white-space: nowrap;
}

.card-scroll-container .card-container {
  display: inline-block;
}

/* Non-Scrollable Card Deck Styles */
.card-static-container {
  padding: 20px;
  width: 100%;
}

.card-static-container .card-container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.card-video {
  width: 100%; /* Ensures the video fills the card */
  /* Remove the padding-top property if you want the video's native aspect ratio */
}


.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Two images per row */
  gap: 10px; /* Space between images */
}

.image-grid img {
  width: 100%; /* Ensures images take up full width of grid cells */
  height: auto; /* Maintains the aspect ratio */
  border-radius: 5px; /* Optional: Adds rounded corners to images */
}

.image-grid-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two images per row */
  gap: 10px; /* Space between images */
}

.image-grid-two img {
  width: 100%; /* Ensures images take up full width of grid cells */
  height: auto; /* Maintains the aspect ratio */
  border-radius: 5px; /* Optional: Adds rounded corners to images */
}

.image-grid-part {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two images per row */
  gap: 10px; /* Space between images */
}

.image-grid-part img {
  width: 90%; /* Ensures images take up full width of grid cells */
  height: auto; /* Maintains the aspect ratio */
  border-radius: 5px; /* Optional: Adds rounded corners to images */
}